body {
    overflow-anchor: none;
    overflow: hidden;
    background-color: #121212;
    color: white;
}

.dark-mode {
    background-color: white;
    color: black;
}
.col-lg-6 {
    margin: auto;
}

.jumbotron {
    background-color: #121212;
    color: white;
}

.jumbodark {
    background-color: white;
    color: black;
}

.input-group.mb-3 {
    width: 85%;
    margin: auto;
}

.gobtn {
    padding-left: 3px;
}

.heading {
    margin: auto;
    text-align: center;
    
}

.darktogglebtn {
    margin: auto 0;
}

.btn.btn-outline-secondary.dropdown-toggle {
    background-color: #6c757d;
    color: white;
}

#original {
    text-align: center;
}



